<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>코드</th>
                <th>사용가능</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="invitation : ${invitations}">
                <td th:text="${invitation.id}"></td>
                <td th:text="${invitation.code}"></td>
                <td th:text="${invitation.available}"></td> <!--?는 이 값이 null 이면 출력X-->
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>